{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.images != empty %}
  {%- assign collection_image = collection.products.first.featured_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}

  <!--<a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
    {% unless collection_image == blank %}
      <div class="collection-grid-item__overlay box ratio-container lazyload js"
         data-bgset="{% include 'bgset', image: collection_image %}"
         data-sizes="auto"
         data-parent-fit="cover"
         style="background-image: url('{{ collection_image | img_url: '300x300' }}')">
      </div>
     <noscript>
       <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_image | img_url: '1024x1024' }}')"></div>
     </noscript>
   {% else %}
     {% if collection == empty %}
        <div class="collection-grid-item__overlay">
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
         <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_image | img_url: '1024x1024' }}')"></div>
      {% endif %}
   {% endunless %}
    <div class="collection-grid-item__title-wrapper">
      <h3 class="collection-grid-item__title">
        {% if collection.title == blank %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% else %}
          {{ collection.title }}
        {% endif %}
      </h3>
    </div>
  </a>-->

<h2 style="margin-bottom: 0;">{{ collection.title }}</h2>
<div class="collection-grid" id="Collection">
  {% case section.settings.grid %}
  {% when '2' %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
  {% when '3' %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
  {% when '4' %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
  {% when '5' %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
    {% for product in collection.products %}
      <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
        {% include 'product-card-grid', max_height: max_height %}
      </div>
    {% else %}
      {% comment %}
      Add default products to help with onboarding for collections/all only.

      The onboarding styles and products are only loaded if the
      store has no products.
      {% endcomment %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        <div class="grid__item">
          <div class="grid grid--uniform">
            {% for i in (1..limit) %}
              <div class="grid__item {{ grid_item_width }}">
                <div class="grid-view-item">
                  <a href="#" class="grid-view-item__link">
                    <div class="grid-view-item__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
        {%- assign is_empty_collection = true -%}
      {% endif %}
    {% endfor %}
  </div>
</div>
